@tailwind base;
@tailwind components;
@tailwind utilities;

.KKSearchUIBtn {
	border-radius: 0;
	font-family: monospace;
	color: #ffffff;
	border: 1px solid white;
	font-size: 11px;
	padding: 3px 5px;
	background: #3ba52a;
	white-space: nowrap;
}

.KKSearchUIBtn:hover {
	background: #1f5c15;
	color: #ffffff;
	cursor: pointer;
}
